.dasboardcnt{
    display: flex;
  }
  
  .content {
    flex: 1;
    transition: margin-left 0.3s;
  }
  
  .content.expanded {
    margin-left: 250px;
}
  
  .content.collapsed {
    margin-left: 80px;
}
  