.custom-dropdown {
 
    display: flex;
  }
 
  .dashboard-text {
    cursor: pointer;
  }
  #dashboard-text-disabled{
    display: none;
  }
  #dashboard-text-enabled{
    transform: translateY(5px);
  }
 
  .dropdown-content-groupname {
    position: fixed;
    top: 18%;
    left: 19.25%;
    margin-left: 10px;
    color: #000;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    z-index: 1000;
  }
 
  .dropdown-item-groupname {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
   
  }
 
  .dropdown-item-groupname.highlightedGroupOption {
    background-color: #0056b3 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    border-radius: 4px;
  }
 
  .dropdown-item-groupname.selectedGroupOption {
    background-color: #007BFF;
    font-weight: bold;
    border-radius: 4px;
  }
 
  .dropdown-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    filter: grayscale(100%);
  }
 
  .dropdown-item-groupname.highlightedGroupOption .dropdown-icon,
  .dropdown-item-groupname.selectedGroupOption .dropdown-icon {
    filter: none;
  }
  #dashboard-icon-container{
    margin-right: 15px;
    margin-left: 10px;
  }
  #right-popout-activate-icon{
    width: 24px;
    height: 18px;
    margin-left: 10px;
  }