.boxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    margin: 20px;
}

.previewBox {
    background-color: var(--background-color);
    color: var(--font-color);
    height: 140px;
    width: 340px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.previewBox img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.previewTitle {
    font-weight: 800;
    font-size: 20px;
    margin: 0;
}

.previewContent {
    font-size: 16px;
}

.controlsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    margin-left: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.status_value_controlsContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
    max-width: 17%;
    margin-left: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.icon-for-display{
    width: 30px;
    height: 24px;
}

.controlItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
}

.controlItem label {
    font-weight: 500;
    margin-bottom: 5px;
}

.controlItem input[type="color"],
.controlItem select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.controlItem input[type="color"]:focus,
.controlItem select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}
