
  .resetpassword .title {
    /* font-size: 28px; */
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }

  .intairconatiner {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
}


.resetpassword {
    max-width: 500px;
    width: 450px;
    /* height: 540px; */
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.resetpassword p {
    color: red;
    text-align: center;
}

.resetpassword form {
    max-width: 100%;
}

.resetpassword .field {
    margin-bottom: 15px;
}

.resetpassword .textfield {
    font-weight: bold;
    text-align: left;
}

.resetpassword .box {
    display: flex;
    flex-direction: column;
}

.resetpassword input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 8px;
}


.eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.resetpassword .field .box {
    position: relative;
}

/* Add the styles for the eye icons if needed */
.resetpassword .box .eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
