.Assin_report_to_group {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin: 10px;
} 

.Assin_report_to_group > span{
    margin-right: 5px;
    cursor: pointer;
}

.Assignation_report_sub_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Assignation_report_button_cnt > button{
    margin-left:20px;
    /* width: 180px; */

}

.report_displayed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 20px 0px 20px;
    background-color: #424344;
}

.report_displayed span{
    margin-right: 10px;
    width: 70px;
    height: 30px;
    border: 1px solid #424344;
    text-align: center;
    color: white;
    cursor: pointer;
}

.Assignation_report_table_container{
    margin: 0px 20px 20px 20px;
}

.AssignationReport_search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}