.generate-report-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .export-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .filter-sort-container{
    display: flex;
    justify-content: flex-end;
    margin: 1%;
  }
  .filter-sort-container button{
    margin-right: 5px;
  }
  
  .sort-filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .sort-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  
  .sort-option {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .sort-options-select {
    width: 150px;
  }

  th{
    text-wrap: nowrap;
  }

  #back-to-page-nav-btn{
    height: fit-content;
    margin: 1%;
  }


  
  .filter-toggle-btn {
    border: 1px solid #999;
    border-radius: 0;
    cursor: pointer;
  }
  .filter-toggle-icon, .sort-by-btn-icon{
    width: 30px;
    height: 24px;
  }
  .add-sort-item-icon{
    width: 30px;
    height: 35px;
    margin-left: 5px;
    margin: 1%;
  }
  .sort-remove-icon{
    width: 30px;
    height: 32px;
  }
  
  .table-container {
    overflow-x: auto;
  }
  .remove-filter-item-btn{
    border-radius: 50%;
    margin: 1%;
  }
  .sort-options-select{
    margin: 1%;
  }
  #sort-by-btn{
    border: 1px solid #999;
    border-radius: 0;
  }
  .sort-options-super-parent{
    display: flex;
    justify-content: space-between;
    margin: 1%;
  }
  .apply-sort{
    height: 34px;
    transform: translateY(7px);
  }
  .sort-options-item-container{
    display: flex;
    flex-direction: column;
  }
  .sort-options-item{
    display: flex;
    margin: 5px;
  }
  .dtsb-title{
    color: transparent;
  }
  .dtsb-searchBuilder{
    margin: 1%;
  }
.dt-search{
    margin-top: 12px;
    margin: 1%;
    display: flex;
}

.dtSearch-magnifyingGlassIcon{
  transform: translate(-10px, 5px);
}

.dt-length{
    margin: 1%;
    display: flex;
}
.table-container-div{
    width: 100%;
}
#myTable{
    width: 100% !important;
}

/* .dt-buttons{
  display: flex;
  justify-content: end;
} */
 .wrapper-of-backButton-and-dtButtons{
  display: flex;
  justify-content: space-between;
 }


.Generate_table_button_subContainer button{
  margin-right: 5px;
}

.Generate_table_button{
  display: flex;
  justify-content: center;
  margin: 1%;
}

.dt-info{
  text-align: center;
}

.dt-paging{
  margin: 1%;
  text-align: center;
}

.dt-scroll{
  margin: 1%;
}

.dt-buttons{
  margin: 1%;
}
.dt-button-collection{
  margin: 1%;
  max-width: 96%;
}

.dt-button-collection label{
  margin-left: 3%;
}

.wrapper-of-dtLength-and-dtSearch{
  display: flex;
  justify-content: space-between;
}

.dt-length label{
  transform: translate(10px, 5px);
}



table.dataTable th.dt-type-numeric, table.dataTable th.dt-type-date, table.dataTable td.dt-type-numeric, table.dataTable td.dt-type-date {
  text-align: left;
}